html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: "Syne", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  width: 70%;
  margin: 0;
  color: #d6a3fb;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  padding: 0;
}

ul > li {
  list-style: none;
}

/* Header */

header {
  display: flex;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

/* Wrapper */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 100vh;
}

.main-logo {
  width: 180px;
}

.social-link {
  display: flex;
  margin-top: auto;
  width: 120px;
  height: 120px;
  padding-bottom: 120px;
  font-size: 20px;
}

.social-link ul > li {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-link ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.social-link ul ul {
  position: absolute;
  left: 120px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: none;
}

.social-link ul .dropdown {
  position: relative;
}

.social-link ul .dropdown:hover ul {
  display: initial;
}

.dropdown ul li:hover {
  background-color: #000;
  border-radius: 15px;
}

.dropdown ul li {
  width: 100%;
  height: 100%;
}

.dropdown ul li a {
  width: 100%;
  padding-left: calc(100% - 85%);
}

.dropdown ul li a:hover {
  color: #1c47ff;
  font-weight: bold;
  transition: 0.3s ease;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  padding-left: 90px;
  width: calc(100% - 180px);
  height: 180px;
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

nav ul {
  display: flex;
  column-gap: 60px;
}

.nav {
  position: relative;
  display: inline-block;
}

.nav::before {
  content: "";
  position: absolute;
  background: #1c47ff;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: 0.5s;
}

.nav:hover::before {
  width: 100%;
}

/* Main */

/* About Section */

.about-section {
  display: flex;

  justify-content: stretch;
}

section {
  position: relative;
  left: 180px;
  top: 180px;
  width: calc(100% - 180px);
  height: calc(100vh - 180px);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 180px;
  margin-bottom: 180px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 100%;
  height: calc(100vh - 180px - 45%);
  background-color: #1c47ff;
  border-radius: 100px;
}

.highlight {
  background-color: #f3f3f3;
  border-radius: 100px;
  width: 100%;
  height: calc(100vh - 180px - 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  background-color: #d6a3fb;
  color: #1c47ff;
  width: 40%;
  height: calc(100vh - 180px);
  border-radius: 100px;
  text-align: justify;
}

.about-me p {
  width: 60%;
  font-size: 20px;
  font-weight: medium;
  margin: 0;
}

/* Contact Section */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcffb2;
  border-radius: 100px;
}

.contact-email {
  color: #1c47ff;
  font-size: 80px;
  font-weight: bold;
}
